<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94599357865-pnmcpt93cqpfotmc9bhfph0glvsqc099.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94599357865-pnmcpt93cqpfotmc9bhfph0glvsqc099</string>
	<key>API_KEY</key>
	<string>AIzaSyDVJ4XE6agSsqJYUgy2pg4RJA9xDDY8n3U</string>
	<key>GCM_SENDER_ID</key>
	<string>94599357865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mohammed.Login-Google-Apple-</string>
	<key>PROJECT_ID</key>
	<string>login-d9fe5</string>
	<key>STORAGE_BUCKET</key>
	<string>login-d9fe5.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94599357865:ios:f49262974031fdb01710b8</string>
</dict>
</plist>